.nav_container
	{
		float: left;
		width: 100%;
		height: 10vw;
	}

.nav_m_l
{
	float: left;
	width: 0%;
	width: 5vw;
}
.nav_test
{
 	position: sticky;
	background: url('../src/nav_test_mobile.svg') center/100% no-repeat;
	height: 18vw; 
	width: 100%;
	top:  0;
	z-index: 9999;
}
.nav_m_r
{
	float: left;
	width: 0%;
	width: 5vw;
}
@media only screen and (min-width: 480px)
{
	.nav_container
	{
		float: left;
		width: 100%;
		height: 10vw;
	}
	.nav_test
	{
	 	position: sticky;
		background: url('../src/nav_test.svg') center/100% no-repeat;
		height: 4.7vw; 
		width: 100%;
	
	}
	.nav_m_l
	{
		float: left;
		width: 0%;
		height: 5vw;
	}	
	.nav_m_r
	{
		float: right;
		width: 0%;
		height: 5vw;
	}		
}
@media only screen and (min-width: 1440px)
{
	.nav_container
	{
		float: left;
		width: 100%;
		height: 5vw;
	}

	.nav_m_l
	{
		float: left;
		width: 15%;
		height: 5vw;
	}	
	.nav_test
	{
	 	float: left;
	 	position: sticky;
		background: url('../src/nav_test.svg') center/100% no-repeat;
		height: 2.8vw; 
		width: 70%;
	}
	.nav_m_r
	{
		float: right;
		width: 15%;
		height: 5vw;
	}	
}
.category_bottom
{
	float:left;	
	background: url('../src/category_mobile.png') bottom/90% no-repeat;
	height: 16vw; 
	width: 100%;
}
@media only screen and (min-width: 480px)
{
	.category_bottom
	{
		float:left;	
		background: url('../src/category.png') top/80% no-repeat;
		height: 5vw; 
		width: 100%;
	}
}
.main_banner_container
{
	
	float: left;
	width: 100%;
	height:129vw;
	background: linear-gradient(180deg, #FFFFFF 11.21%, rgba(100, 100, 100, 0.25) 100%);

}
.main_banner_m_l
{
	float:left;
	width: 5%;
	height:110vw;


}
.main_banner_center
{
	float:left;
	height: 115vw; 
	width: 90%;

}
.main_banner_m_r
{
	float:right;
	width: 5%;
	height:110vw;

}
.promo
{
	float:left;	
	background: url('../src/promo_mobile.png') bottom/100% no-repeat;
	height: 7vw; 
	width: 100%;
}
@media only screen and (min-width: 480px)
{
	.promo
	{
		float:left;	
		background: url('../src/promo.png') top/100% no-repeat;
		height: 5vw; 
		width: 100%;
	}
}
@media only screen and (min-width: 1440px)
{
	.promo
	{
		float:left;	
		background: url('../src/promo.png') center/80% no-repeat;
		height: 3vw; 
		width: 100%;
		background-color: #BF1901;
	}
}

/*------------------------BANNER LEFT AND RIGHT------------------------------*/
/*------------------------BANNER LEFT AND RIGHT------------------------------*/
/*------------------------BANNER LEFT AND RIGHT------------------------------*/
/*------------------------BANNER LEFT AND RIGHT------------------------------*/

.main_banner_left
{
	float:left;
	/*background: url('../src/main_banner_right_iso_test.png') bottom/100% no-repeat;*/
	height: 46vw; 
	width: 100%;

}
.main_banner_txt
{
	float:left;
	background: url('../src/main_banner_txt.svg') bottom/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
.main_banner_btn
{
	float:left;
	background: url('../src/main_banner_btn.svg') center/100% no-repeat;
	height: 16vw; 
	width: 100%;
}
.main_banner_btn:hover
{

	background: url('../src/main_banner_btn_hover.svg') center/100% no-repeat;
	transition-duration: .3s;
	transition-property: opacity;

}



.main_banner_right
{
	float:left;
	background: url('../src/main_banner_right_iso.png') center/100% no-repeat;
	height: 65vw; 
	width: 100%;
}


/*--------------HIDE ON DEAFULT------------------*/
.main_banner_right_hover

{
	opacity: 0;
	float:left;
	background: url('../src/main_banner_right_iso_hover.png') center/100% no-repeat;
	height: 33vw; 
	width: 100%;

}
.main_banner_right_hover:hover

{
	opacity: 1;
	float:left;
	background: url('../src/main_banner_right_iso_hover.png') center/100% no-repeat;
	height: 33vw; 
	width: 100%;
	transition-duration: .5s;


}



.main_banner_right_mtb
{
	float: left ;
	width: 100%; 
	height:10vw;
}


/*------------------------BANNER LEFT AND RIGHT------------------------------*/
/*------------------------BANNER LEFT AND RIGHT------------------------------*/
/*------------------------BANNER LEFT AND RIGHT------------------------------*/
/*------------------------BANNER LEFT AND RIGHT------------------------------*/



/*--------------------------CAROUSEL AND CALCU-------------------------------*/
/*--------------------------CAROUSEL AND CALCU-------------------------------*/
/*--------------------------CAROUSEL AND CALCU-------------------------------*/
/*--------------------------CAROUSEL AND CALCU-------------------------------*/
.bottom_banner
{
	float: left;
	width: 100%; 
	height: 85vw;

}

.carousel_calcu_m
{
	float: left;
	width: 0%; 
	height: 20vw;

}
.carousel_calcu_center
{
	float: left;
	width: 100%; 
	height: 20vw;
}
.calcu_container
{

	float: left; 
	width: 100%; 
	height: 32vw;

}

.calcu
{
	float:right;
	/*background: url('../src/calcu.svg') center/100% no-repeat;*/
	background: url('../src/calcu_mobile.png') center/100% no-repeat;
	height: 32vw; 
	width: 100%;

}

.carousel_calcu_middle
{
	float: left; 
	width: 0%; 
	height: 20vw;"
}
.carousel_container
{
	float: left; 
	width: 100%; 
	height: 43vw;

}

.carousel-item1
{
	float:left;
	background: url('../src/carousel/bottom-banner_mobile2.png') center/100% no-repeat;
	height: 45vw; 
	width: 100%;
}
.carousel-item2
{
	float:left;
	background: url('../src/carousel/bottom-banner_mobile2.png') center/100% no-repeat;
	height: 45vw; 
	width: 100%;
}
.carousel-item3
{
	float:left;
	background: url('../src/carousel/bottom-banner_mobile2.png') center/100% no-repeat;
	height: 45vw; 
	width: 100%;
}
.carousel-item4
{
	float:left;
	background: url('../src/carousel/bottom-banner_mobile2.png') center/100% no-repeat;
	height: 45vw; 
	width: 100%;
}
.carousel-item5
{
	float:left;
	background: url('../src/carousel/bottom-banner_mobile2.png') center/100% no-repeat;
	height: 45vw; 
	width: 100%;
}
.carousel-item6
{
	float:left;
	background: url('../src/carousel/bottom-banner_mobile2.png') center/100% no-repeat;
	height: 45vw; 
	width: 100%;
}



/*DESKTOP CAROUSEL*/
/*.carousel-item1
{
	float:left;
	background: url('../src/carousel/bottom-banner2.png') center/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
.carousel-item2
{
	float:left;
	background: url('../src/carousel/bottom-banner3.png') center/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
.carousel-item3
{
	float:left;
	background: url('../src/carousel/bottom-banner4.png') center/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
.carousel-item4
{
	float:left;
	background: url('../src/carousel/bottom-banner5.png') center/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
.carousel-item5
{
	float:left;
	background: url('../src/carousel/bottom-banner6.png') center/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
.carousel-item6
{
	float:left;
	background: url('../src/carousel/bottom-banner7.png') center/100% no-repeat;
	height: 20vw; 
	width: 100%;
}
*/

.carousel-control-prev
{
	height: 50vw;
}
.carousel-control-prev-icon
{
	width: 8vw !important;
	height: 8vw !important;
}
.carousel-control-next
{
	height: 50vw;

}
.carousel-control-next-icon
{
	width: 8vw !important;
	height: 8vw !important;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-right: 15%;
	margin-bottom: -17vw !important;
	margin-left: 15%;
	list-style: none;
	height: 3vw !important;

}

.carousel-indicators [data-bs-target] {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 8vw !important;
	height: 1vw !important;
	padding: 0;
	margin-right: 1vw !important;
	margin-left: 1vw !important;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	background-clip: padding-box;
	border: ;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .5;
	transition: opacity .6s ease;
}

@media only screen and (min-width: 480px)
{
		.carousel-control-prev
	{
		height: 20vw;
	}
	.carousel-control-prev-icon
	{
		width: 2vw !important;
		height: 2vw !important;
	}
	.carousel-control-next
	{
		height: 20vw;

	}
	.carousel-control-next-icon
	{
		width: 2vw !important;
		height: 2vw !important;
	}

	.carousel-indicators {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 15%;
		margin-bottom: 3vw !important;
		margin-left: 15%;
		list-style: none;
		height: 3vw !important;

	}

	.carousel-indicators [data-bs-target] {
		box-sizing: content-box;
		flex: 0 1 auto;
		width: 3vw !important;
		height: .3vw !important;
		padding: 0;
		margin-right: .3vw !important;
		margin-left: .3vw !important;
		text-indent: -999px;
		cursor: pointer;
		background-color: #fff;
		background-clip: padding-box;
		border: ;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		opacity: .5;
		transition: opacity .6s ease;
	}
}


.carousel
	{
		height: 21vw !important;
	}
}
@media only screen and (min-width: 480px)
{
	.carousel
	{
		height: 21vw !important;
	}
}
@media only screen and (min-width: 1440px)
{
	.carousel
	{
		height: 18vw !important;
	}
}